.buttontext {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-family: Quicksand;
  color: #fff;
  text-align: center;
}
.logoutbutton {
  cursor: pointer;
  border: 0;
  padding: 0 10px;
  background-color: #00141b;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
