.buttonbar,
.solutionbox {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.solutionbox {
  align-self: stretch;
  border-radius: 15px;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  align-items: flex-start;
}
